# Compiled Python files
*.pyc
*.pyo
__pycache__/

# Distribution and packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environment
venv/
.venv/
.env
examples/log.txt

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Testing and coverage
.coverage
.pytest_cache/
htmlcov/

# Other
.DS_Store

# Logs
debug.log

# Research
rnd/
knowledge/